.popup-cont{:style => "min-width:400px;"}
  .close-icon
    %a{:href => "javascript:void(0)", :onclick => ""}
      %img{:alt => "close", :src => "assets/close.jpg"}/
  %h3 League Information
  .popup-txt
    %table
      %tr
        %td= 'Title'
        %td= @league.title
      %tr
        %td= 'Start Date'
        %td= @league.start_time
      %tr
        %td= 'End Date'
        %td= @league.end_time
      %tr
        %td= 'Buy In'
        %td= @league.buy_in
      %tr
        %td= 'Commission'
        %td= @league.commission

  %a{:href => "javascript:void(0)", :onclick => "registerLeague(#{@league.id})"} Register