.portfolio-info-left
  .p-box
    %h4 Portfolio return
    %span{:class => portfolio_return_class}
      = number_to_percentage(@user_league_association.portfolio_return, :precision => 2)
  .p-box.p-box-t
    %h4 Portfolio
    %span{class: portfolio_return_class}
      = humanized_money_with_symbol(@user_league_association.total)
  .p-row
    .p-box
      %h4 Investment
      %span
        = humanized_money_with_symbol(@user_league_association.investment)
    .p-box.p-box-t
      %h4 Cash Available
      %span
        = humanized_money_with_symbol(@user_league_association.balance)
.portfolio-info-right
  .r-txt Rank
  %h2
    = @user_league_association.rank
  %span
    = "(Placed #{@user_league_association.rank} of #{number_to_human(@league.entrants)})"
  %ul
    %li
      %span
        = "Start: #{@league.start_time.strftime("%-d %b  %k:%m ")}"
      %span
        = "Prize pool: #{humanized_money_with_symbol(@league.prize_pool)}"
    %li
      %span
        = "Finish: #{@league.end_time.strftime("%-d %b  %k:%m ")}"
      %span
        = "Places Paid: #{@league.places_paid}"
    %li
      %span
        = "Entrants: #{number_to_human(@league.entrants)}"
      %span
        = "Avg. return: #{number_to_percentage(@league.average_return, precision: 2)}"
.p-graph-area
  .graph-c
    %h4 Overall
    .g-sec
      = image_tag "c-g.jpg", :width => 166, :height => 167
  .graph-c
    %h4 Equity Split
    .g-sec
      = image_tag "c1-g.jpg", :width => 166, :height => 167
  .graph-b
    %h4 Performance
    = image_tag "gg.jpg"

