<h1>Listing leagues</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Market</th>
    <th>Algo name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leagues.each do |league| %>
  <tr>
    <td><%= league.title %></td>
    <td><%= league.description %></td>
    <td><%= league.category %></td>
    <td><%= league.market %></td>
    <td><%= league.algo_name %></td>
    <td><%= link_to 'Show', admin_leagues_url %></td>
    <td><%= link_to 'Edit', edit_admin_league_path(league) %></td>
    <td><%= link_to 'Destroy', admin_leagues_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Add Users', action: :add_users , :league_id =>league.id  %></td>
  </tr>
<% end %>
</table>

<br />

