.cont-area
  = render "/user/left_area"

  %section.inner-right-area
    .user-p
      .p-photo
        = image_tag "pic.png"
      .user-info
        %span.u-name
          = current_user.display_name
        %a{href: 'javascript:void(0);'}
          = "Available Balance - "
          %span
            = available_cash
      .user-info-icon
        %a.u-price{href: 'javascript:void(0);'}
        %a.u-contact{href: 'javascript:void(0);'}
        %a.u-about{href: 'javascript:void(0);'}
    .inner-cont-right
      %h4.in-page-title.cashier-icon
        Cashier
      %ul.two-col-data
        %li
          %label
            Available
          %span
            = available_cash
        %li
          %label
            In Play
          %span
            = cash_in_play
        %li.t-txt
          %label
            Total
          %span
            = total_cash
      .page-tab
        %ul
          %li
            %a.active{href: "javascript:void(0)"}
              Deposit
            %a{href: "javascript:void(0)"}
              Withdrawl



