<!DOCTYPE html>
<html>
<head>
  <title>Skybulls</title>
  <%= stylesheet_link_tag "admin.css" %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <script>
      jQuery(document).ready(function(){
          $('#dateFields').datepicker( {dateFormat: "yy-mm-dd",
              minDate: Date.now()
          })
      });
  </script>
</head>

    <body id="store" >
        <div id="banner" >
            <%= image_tag("logo.png") %>
            <%= "SkyBulls Admin Panel" %>
        </div>

        <div id="columns" >
            <div id="side" >
              <%= link_to 'Create League', :controller => 'admin/leagues', :action => 'new'%><br/>
              <%= link_to 'View League', :controller => 'leagues', :action => 'index' %><br/>
              <%= link_to 'Edit Leagues', :controller => 'admin/leagues', :action => 'new' %><br/>
            </div>
        <div id="main" >
            <%= yield %>
        </div>
        </div>
    </body>
</html>
