

- content_for :javascript do
  :javascript
    function pin_stocks(){
      if($('#symbol').val()==''){
        alert('No text Entered');
        return false;
      }
      else{
        dataMap={};
        dataMap['symbol']=$('#symbol').val();
        $.ajax({
          type: 'POST',
          url: $('#ajax_stock_list_url').val(),
          data: dataMap,
          dataType: 'json',
          success:function(data) {
                    $('#stock_list').append(data);
                    }
        });
      }
    }
/ Left Area
%input{:type=>"hidden", :value=>users_update_user_url, :id=>'ajax_update_url'}
%input{:type=>"hidden", :value=>users_search_stocks_url, :id=>'ajax_stock_list_url'}
- content_for :left_sidebar do
  = render "/users/profile_left_sidebar"

/ Right Area
%section.inner-right-area
  .user-p
    .p-photo
      = image_tag current_user.image_url
    .user-info
      %span.u-name= current_user.user_name
      %a{:href => "javascript:void(0);"}
        Available Balance  -
        %span $127.56
    .user-info-icon
      %a.u-price{:href => "javascript:void(0);"}
      %a.u-contact{:href => "javascript:void(0);"}
      %a.u-about{:href => "javascript:void(0);"}
  .inner-cont-right
    .u-p-deatils
      .p-photo-big
        = image_tag current_user.image_url
      .u-oinfo
        %h4= current_user.user_name
        %ul.two-col-data
          %li
            %label Available
            %span= current_user.account.balance
          %li
            %label In Play
            %span $4.00
          %li.t-txt
            %label Total
            %span $127.56
      .clr
      %h4.in-page-title.registered-leagues Registered Leagues
      %ul.one-col-data
        -@league.each do |league|

          %li
            %a{:href => "javascript:void();"}= league.title
            %br
              = league.start_time.strftime("%B %d %Y")
            %a.btn-action{:href => "javascript:void();"} Go To League

      %h4.in-page-title.user-details User Details

      %ul.profile-info-area
        %div.user_info
          %li
            %label Username
            %span#username= current_user.user_name

          %li
            %label Password
            %span#password= current_user.password

          %li.t-txt
            %label Telephone
            %span#telephone +1 1234567890

          %li.t-txt
            %label Email
            %span#email= current_user.email


      %h4.in-page-title.user-details Pinned Stocks

      %ul.profile-info-area
        - current_user.stocks.each do |stock|
          %li
            %label Stock
            %span= stock.symbol+stock.latest_price.to_s
        %form{:onSubmit => "pin_stocks()"}
          %label Search Stocks
          %input#symbol{:name => "symbol", :type => "text"}/
          %input{:type => "submit"}/
          %div#stock_list
/ End Right Area