!!!
%html{:lang => "en"}
  %head
    %title Skybulls
    %meta{:charset => "utf-8"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Oxygen:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "home"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.slides.min.js"
    :javascript
      $(function() {
        $('#slides').slidesjs({
          width: 510,
          height: 325,
          navigation: {
            effect: "fade"
          },
          pagination: {
            effect: "fade"
          },
          effect: {
            fade: {
              speed: 800
            }
          }
        });
      });
  	
    %body
    .wrapper
      / header
      %header
        .logo
          %a{href: "/"}
            = image_tag "home/skybulls.png", :alt=> "Skybulls"
        %nav
          %ul
            %li
              %a{:href => "#how_it_works", :title => "How it works?"} How it works?
            %li
              %a{:href => "#free_demo", :title => "Try free demo"} Try free demo
            %li
              %a{:href => user_omniauth_authorize_path(:facebook), :title => "Register"} Register
            %li
              %a{:href => user_omniauth_authorize_path(:google), :title => "Sign in"} Sign in
      / End header
      %section.banner-area
        .banner-cont
          #slides.comp-bg
            = image_tag "home/1.png", :alt => "slide"
            = image_tag "home/2.png", :alt => "slide"
            = image_tag "home/3.png", :alt => "slide"
            = image_tag "home/4.png", :alt => "slide"
            %a.slidesjs-previous.slidesjs-navigation{:href => "javascript:void(0);"}
              %i.icon-chevron-left
            %a.slidesjs-next.slidesjs-navigation{:href => "javascript:void(0);"}
              %i.icon-chevron-right
          .banner-txt
            %h4 Stock Trading at its virtual best
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            %a{:href => "javascript:void(0);", :title => "Register Now"}
              = image_tag "home/register-now.png", :alt => "slide"
      %section.mid-cont-area#how_it_works
        %h2
          How it works?
          %span What makes Skybulls more effective?
        .row-works
          .w-col
            .i-row-h
              = image_tag "home/step.png", :alt => "How it works?"
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
          .w-col
            .i-row-h
              = image_tag "home/step1.png", :alt => "How it works?"
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
          .w-col
            .i-row-h
              = image_tag "home/step2.png", :alt => "How it works?"
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
      %section.f-area
        %h2
          Features
          %span What makes us better than the rest?
        .row-f
          .f-col
            .i-row-f
              = image_tag "home/real-time-data.png", :alt => "Real time data"
            %h3 Real Time Data
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          .f-col
            .i-row-f
              = image_tag "home/real-cash-prizes.png", :alt => "Real time data"
            %h3 Real Cash Prizes
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          .f-col
            .i-row-f
              = image_tag "home/test-strategies.png", :alt => "Real time data"
            %h3 Test Strategies
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      %a.demo-btn{:href => "javascript:void(0);"} Try our demo
      .demo-area
      %footer.footer-area
        %section.footer-left
          %a{:href => "javascript:void(0);"} Terms and Conditions
          |
          %a{:href => "javascript:void(0);"} Cookie Policy
          |
          %a{:href => "javascript:void(0);"} Careers
          |
          %a{:href => "javascript:void(0);"} FAQ
          |
          %a{:href => "javascript:void(0);"} Contact Us
          %span All Rights Reserved - Skybulls.com
        %section.footer-right
          %a.g-icon{:href => "javascript:void(0);", :title => "google+"} google+
          %a.f-icon{:href => "javascript:void(0);", :title => "Facebook"} Facebook
          %a.t-icon{:href => "javascript:void(0);", :title => "Twitter"} Twitter
          %a.in-icon{:href => "javascript:void(0);", :title => "Linkedin"} Linkedin