!!!
%html{:lang => "en"}
  %head
    %title Skybulls
    %meta{:charset => "utf-8"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Oxygen:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "home"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.slides.min.js"
    :javascript
      $(function() {
         $(".how_it_works").click(function() {
              $('html, body').animate({
                  scrollTop: $("#how_it_works").offset().top - 106
              }, 1500);
         });
         $(".features").click(function() {
             $('html, body').animate({
                 scrollTop: $("#features").offset().top
             }, 1500);
         });

      });
  	
    %body
    .wrapper
      / header
      %header.affix-top{"data-spy"=> "affix"}
        .logo
          %a{href: "/"}
            = image_tag "home/skybulls.png", :alt=> "Skybulls"
            %span.label.label-info
              Alpha
        %nav
          %ul
            %li
              %a.how_it_works{:href => "javascript:void(0);", :title => "How it works?"} How it works?
            %li
              %a.features{:href => "javascript:void(0);", :title => "Features"} Features
            - unless user_signed_in?
              %li
                %a{:href => "#register", :title => "Register", :role => "button", "data-toggle" => "modal" } Register
              %li
                %a{:href => "#login", :title => "Sign in", :role => "button", "data-toggle" => "modal" } Sign in
            - else
              %li
                %a{:href => dashboard_path, :title => "Dashboard"} Dashboard
              %li
                %a{:href => destroy_user_session_path, :title => "Logout"} Logout
      - if flash[:error]  || flash[:alert]
        .alert.alert-danger
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:error]  || flash[:alert]
      - if flash[:notice]
        .alert.alert-info
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:notice]
      - if flash[:success]
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:success]
      / End header
      %section.banner-area
        .banner-cont
          .comp-bg
            %iframe.img-polaroid{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/66121149", :webkitallowfullscreen => "", :width => "500"}

          .banner-txt
            %h4 Stock Trading at its virtual best
            %p SkyBulls is a simulated trading platform for people who want to educate and train themselves and test their strategies before directly investing in the stock market.
            - unless user_signed_in?
              %a{:href => "#register", :title => "Register Now", :role => "button", "data-toggle" => "modal" }
                = image_tag "home/register-now.png", :alt => "slide"
      %section.mid-cont-area#how_it_works
        %h2
          How it works?
          %span What makes Skybulls more effective?
        .row-works
          .w-col
            .i-row-h
              = image_tag "home/step.png", :alt => "How it works?"
            %p Join a daily, weekly or monthly league to compete against other participants.
          .w-col
            .i-row-h.mid-col
              = image_tag "home/step1.png", :alt => "How it works?"
            %p Participants make their trades and build hypothetical portfolios.
          .w-col
            .i-row-h
              = image_tag "home/step2.png", :alt => "How it works?"
            %p Top performers are rewarded from the prize pool built through participation fee.
      %section.f-area#features
        %h2
          Features
          %span What makes us better than the rest?
        .row-f
          .f-col
            .i-row-f
              = image_tag "home/real-time-data.png", :alt => "Real time data"
            %h3 Real Time Data
            %p SkyBulls uses real-time data of all equities listed on NASDAQ and NYSE.
          .f-col
            .i-row-f
              = image_tag "home/real-cash-prizes.png", :alt => "Real time data"
            %h3 Real Cash Prizes
            %p Win real cash rewards multiple times your investment if you perform better than others on the platform.
          .f-col
            .i-row-f
              = image_tag "home/test-strategies.png", :alt => "Real time data"
            %h3 Test Strategies
            %p Test you strategies in a safe environment before directly investing in the market.
      -#%a.demo-btn{:href => "javascript:void(0);"} Try our demo
      -#.demo-area
      %footer.footer-area
        %section.footer-left
          %a{:href => "javascript:void(0);"} Terms and Conditions
          |
          %a{:href => "javascript:void(0);"} Cookie Policy
          |
          %a{:href => "javascript:void(0);"} Careers
          |
          %a{:href => "javascript:void(0);"} FAQ
          |
          %a{:href => "javascript:void(0);"} Contact Us
          %span All Rights Reserved - Skybulls.com
        %section.footer-right
          %a.g-icon{:href => "javascript:void(0);", :title => "google+"} google+
          %a.f-icon{:href => "javascript:void(0);", :title => "Facebook"} Facebook
          %a.t-icon{:href => "javascript:void(0);", :title => "Twitter"} Twitter
          %a.in-icon{:href => "javascript:void(0);", :title => "Linkedin"} Linkedin


#login.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Log in to Skybulls
  .modal-body
    .f-signup
      %a{:href => user_omniauth_authorize_path(:facebook)}
        = image_tag "home/facebook-login.png", alt:"FB"
      %span or
      %a{:href => user_omniauth_authorize_path(:google)}
        = image_tag "home/google-login-button.png", alt:"Google"
      %span or
    = form_for :user, :url => session_path(:user) do |f|
      .s-input
        = f.email_field :email, :autofocus => true, :class => "email-txt", :placeholder => "Email"
      .s-input
        = f.password_field :password, :class => "password-txt", :placeholder => "Password"
      .s-input
        %a.button-action{:href => "javascript:void(0);", "data-role" => "submit"} Login
        %a.fp-txt{:href => "javascript:void(0);"} Forgot password?

#register.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Register
  .modal-body
    .f-signup
      %a{:href => user_omniauth_authorize_path(:facebook, signup:true)}
        = image_tag "home/facebook-login.png", alt:"FB"
      %span or
      %a{:href => user_omniauth_authorize_path(:google, signup:true)}
        = image_tag "home/google-login-button.png", alt:"Google"
      %span or
    = form_for :user, :url => registration_path(:user) do |f|
      .s-input
        = f.text_field :email, :autofocus => true, :class => "email-txt", :placeholder => "Email"
      .s-input
        = f.email_field :user_name, :class => "name-txt", :placeholder => "Username"
      .s-input
        = f.password_field :password, :class => "password-txt", :placeholder => "Password"
      .s-input
        = f.password_field :password_confirmation, :class => "password-txt", :placeholder => "Confirm Password"
      .s-input
        %a.button-action{:href => "javascript:void(0);", "data-role" => "submit"} Register
= render "/feedback_widget"