
%h3 League Information
.popup-txt
  %table
    %tr
      %td= 'Title'
      %td= @league.title
    %tr
      %td= 'Start Date'
      %td= @league.start_time
    %tr
      %td= 'End Date'
      %td= @league.end_time
    %tr
      %td= 'Buy In'
      %td= @league.buy_in
    %tr
      %td= 'Commission'
      %td= @league.commission

%a{:href => "javascript:void(0)", :onclick => "registerLeague(#{@league.id},'#{users_league_register_url}')"} Register