%section.left-area
  %h3
    %span.myinfo-icon My Info
  %ul.data-list
    %li
      %label Total:
      %span
        = humanized_money_with_symbol(@user_league_association.total)
    %li
      %label Investment:
      %span
        = humanized_money_with_symbol(@user_league_association.investment)
    %li
      %label Cash Available:
      %span
        = humanized_money_with_symbol(@user_league_association.balance)
    %li
      %label Portfolio Return:
      %span
        = number_to_percentage(@user_league_association.portfolio_return, :precision => 2)

    %li
      %label Current Rank:
      %span
        = @user_league_association.rank
  %ul.left-menu
    %li
      %a{:href => league_dashboard_index_path(@league), :class => "#{current_page?(league_dashboard_index_path(@league)) ? 'active' : ''}"}
        %span.dashboard Dashboard
    %li
      %a{:href => league_open_trades_path(@league), :class => "#{current_page?(league_open_trades_path(@league)) ? 'active' : ''}"}
        %span.open-trades Open Trades
    %li
      %a{:href => league_pending_trades_path(@league), :class => "#{current_page?(league_pending_trades_path(@league)) ? 'active' : ''}"}
        %span.pending-trades Pending Trades
    %li
      %a{:href => league_portfolio_index_path(@league), :class => "#{current_page?(league_portfolio_index_path(@league)) ? 'active' : ''}"}
        %span.my-portfolio My Portfolio