%section.right-area
  %h4
    %span League Info
  %ul.r-data-list
    %li
      %label Start:
      %span
        = @league.start_time.strftime("#{@league.start_time.day.ordinalize} %b %Y %k:%m")
    %li
      %label Finish:
      %span
        = @league.end_time.strftime("#{@league.start_time.day.ordinalize} %b %Y %k:%m")
    %li
      %label Entrants:
      %span
        = @league.user_league_associations.count
    %li
      %label Prize pool:
      %span
        = humanized_money_with_symbol(@league.prize_pool)
    %li
      %label Places paid:
      %span
        = @league.places_paid
    %li
      %label Avg. return:
      %span
        = @league.average_return
  %h4
    %span Leaderboard
  #scrollbar1
    .scrollbar
      .track
        .thumb
    .viewport
      .overview
        %ul.r-data-list
          - @league.leaders.each_with_index do |ula, ii|
            %li
              %label
                = (ii+1).ordinalize
              %span
                = ula.user.display_name
          %li
            %a{:href => "javascript:void(0);"} View More leaders

  %h4
    %span Payout Structure
  #scrollbar2
    .scrollbar
      .track
        .thumb
    .viewport
      .overview
        %ul.r-data-list
          - @league.payout_structure.each_with_index do |number, ii|
            %li
              %label
                = (ii+1).ordinalize
              %span
                = number_to_percentage(number)
