.info-bar
  .daily-league-txt
    %span
      = "#{@league.title} -"
    = "$#{@league.buy_in}+#{@league.commission*@league.buy_in/100} #{@league.category} League"
  - if @league.in_progress?
    .elapsed-time
      %span Elapsed time
      %strong.time-txt{data: {:timestamp => @league.start_time.to_i}}

    .remaining-time
      %span Remaining  time
      %strong.time-txt{data: {:timestamp => @league.end_time.to_i}}

    .clr
  - else
    League has already ended

- content_for :head do
  = javascript_include_tag "jquery.countdown.js"
- content_for :javascript do
  :javascript
    $(document).ready(function(){
    $(".elapsed-time .time-txt").countdown({since: new Date($(".elapsed-time .time-txt").data("timestamp") * 1000), compact: true,
                                      description: '',format: 'DHMS'});

      $(".remaining-time .time-txt").countdown({until: new Date($(".remaining-time .time-txt").data("timestamp") * 1000), compact: true,
                                              description: '',format: 'DHMS'});
    });
