- content_for :head do
  = javascript_include_tag "jquery.tinyscrollbar.min.js"
  = javascript_include_tag "http://www.amcharts.com/lib/amstock.js"
  = javascript_include_tag "http://localhost:8082/socket.io/socket.io.js"
  = javascript_include_tag "http://localhost:8082/getFeed?graph=#{@pinned_stocks.collect(&:symbol_with_exchange).join(',')}&latest=#{@pinned_stocks.collect(&:symbol_with_exchange).join(',')}"

- content_for :sub_header do
  = render "/leagues/common/sub_header"

- content_for :left_sidebar do
  = render "/leagues/common/left_sidebar"

- content_for :right_sidebar do
  = render "/leagues/common/right_sidebar"



- content_for :javascript do
  :plain
    <script id="stock-template" type="text/template">
      <div class="mid-box-logo">
        <span>{{label}}</span>
      </div>
      <div class="peg">
        <div class="peg-left {{changeClass}}">{{change}}</div>
        <div class="peg-left mrn {{changeClass}}">{{percentageChange}}%</div>
      </div>
      <div class="price">${{price}}<a href="javascript:void(0);"  class="graph-button"> <img src="/assets/graph.png" class="graph {{graphClass}}" /></a>
      <a href="javascript:void(0);" class="pin-button"><img src="/assets/pin.png" class="pin {{pinClass}}" /></a></div>
      <div class="box-bottom">
        <div class="buy"><a class="buy-button">Buy</a></div>
        <div class="sell"><a href="#" class="sell-button">sell</a></div>
      </div>
    </script>

  :javascript
    $(document).ready(function(){

        if(typeof skybullsData !== 'undefined'){
          skybullsData.initGraph('chartDiv');
        }

       stockInfoArea = new skybulls.StockInfoArea({"leagueId": #{@league.id},"pinnedStocks": #{@pinned_stocks.collect(&:to_json)}});
       stockInfoArea.initializeDisplayArea();

       $('#search-bar').autocomplete({
          source: function(req, res){
             var dataMap= {};
             dataMap['term']=req.term;
             $.ajax({
                 type : 'GET',
                 url : Routes.search_league_dashboard_index_path(#{@league.id}) ,
                 data: dataMap,
                 dataType: 'json',
                 success:function(result) {
                     res(result);
                 }
             });

          },
          select: function( event, ui ) {

               $.ajax({
                  type : 'GET',
                  url : Routes.select_stock_league_dashboard_path(#{@league.id}, ui.item.id) ,
                  dataType: 'json',
                  success:function(result) {
                      stockInfoArea.addNewStock(result);
                      if(typeof skybullsData !== 'undefined'){
                          skybullsData.socket.emit('add latest', {latest: result.symbol });
                      }

                      $('#search-bar').val('');
                  }
               });


            $('#search-bar').val('');

          },
          minLength: 2
       });
    });



.h-midarea
  %input.search-txt#search-bar{:placeholder => "Search company name or ticker", :autocomplete => "off", :type => "text"}/
  .clr
  #stock-info-area
    - @pinned_stocks.each do |stock|
      %div.mid-box{id: "stock-info-area-element-#{stock.id}"}


  .h-graph#chartDiv


#tradeModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-body


