- content_for :head do
  = javascript_include_tag "jquery.tinyscrollbar.min.js"
  = javascript_include_tag "select2.min.js"
  = stylesheet_link_tag "select2"

- content_for :sub_header do
  = render "/leagues/common/sub_header"

- content_for :left_sidebar do
  = render "/leagues/common/left_sidebar"

- content_for :right_sidebar do
  = render "/leagues/common/right_sidebar"

- content_for :javascript do
  :plain
    <script id="stock-template" type="text/template">
      <div class="mid-box-logo">
        <img src="{{logoUrl}}" />
      </div>
      <div class="peg">
        <div class="peg-left">{{change}}</div>
        <div class="peg-left mrn">{{percentageChange}}%</div>
      </div>
      <div class="price">{{price}}<a href="javascript:void(0);" class="graph-button"> <img src="/assets/graph.png" class="graph" /></a>
      <a href="javascript:void(0);" class="pin-button"><img src="/assets/pin.png" class="pin" /></a></div>
      <div class="box-bottom">
        <div class="buy"><a href="#" class="buy-button">Buy</a></div>
        <div class="sell"><a href="#" class="sell-button">sell</a></div>
      </div>
    </script>

  :javascript
    $(document).ready(function(){
       stockInfoArea = new skybulls.StockInfoArea({"pinnedStocks": #{@pinned_stocks.collect(&:to_json)}});
       stockInfoArea.initializeDisplayArea();

       function format(state) {
         return "<img class='flag' src='images/flags/" + state.id.toLowerCase() + ".png'/>" + state.text;
       }

       $("#search-bar").select2({
           placeholder: "Search company name or ticker",
           allowClear: true,
           minimumInputLength: 2
       });
    });



.h-midarea
  %select#search-bar{:multiple => "multiple"}
    - @league.exchanges.each do |e|
      %optgroup{label: e.name}
        - e.stocks.each do |s|
          %option{value: s.id}
            = s.to_s

  .clr
  #stock-info-area
    - @pinned_stocks.each do |stock|
      %div.mid-box{id: "stock-info-area-element-#{stock.id}"}


  .h-graph
    = image_tag "graph-dummy.png"