%footer.footer-area
  %section.footer-left
    %a{href: '#'}
      = "Terms and Conditions | "
    %a{href: '#'}
      = "Cookie Policy | "
    %a{href: '#'}
      = "Careers | "
    %a{href: '#'}
      = "FAQ | "
    %a{href: '#'}
      = "Contact Us"
    %span
      All Rights Reserved - Skybulls.com
  %section.footer-right
    %a.g-icon{href: '#'}
      G
    %a.f-icon{href: '#'}
      F
    %a.t-icon{href: '#'}
      T
    %a.in-icon{href: '#'}
      In
