%html
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")/
    %title= @title || "Skybulls"
    = favicon_link_tag
    %link{href: 'http://fonts.googleapis.com/css?family=Oxygen:400,300,700', rel:'stylesheet', type:'text/css'}
    = stylesheet_link_tag "jquery.ui.dialog.css", :media => :all
    = stylesheet_link_tag "application", :media => :all
    = stylesheet_link_tag "style", :media => :all
    = stylesheet_link_tag "dark", :media => :all
    = javascript_include_tag "application"
    = javascript_include_tag "mustache"
    = javascript_include_tag "PinnedStock"
    = javascript_include_tag "StockInfoArea"
    = csrf_meta_tag
    = yield :head
    = yield :javascript
    = yield :meta
  %body{:class => " "}
    .wrapper
      = render '/layouts/header'
      = yield :sub_header

      .cont-area
        = yield :left_sidebar
        .flash-message-area
          - if flash[:error]  || flash[:alert]
            .alert.alert-danger
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              = flash[:error]  || flash[:alert]
          - if flash[:notice]
            .alert.alert-info
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              = flash[:notice]
          - if flash[:success]
            .alert.alert-success
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              = flash[:success]
        = yield
        = yield :right_sidebar

      = render '/layouts/footer'

    #some_error_occurred


