.close-icon
  %a{:href => "javascript:void(0)", "data-dismiss" => "modal"}
    = image_tag "close.jpg"
.popup-title
  = @title

- if @error_message
  .alert.alert-danger
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    = @error_message
= yield
= yield :javascript