- @title = "Buy Stock"
- content_for :javascript do
  :javascript
    $(document).ready(function(){
             $('.slider-price').slider({handle: "square", }).on('slideStop', function(ev){
                                                          $("#tradeModal .stockPrice").val($('.slider-price').slider("getValue").val());
                                                          $("#tradeModal .stockPrice").trigger('change');
                                                      });;
              $('.slider-amount').slider({handle: "square", }).on('slideStop', function(ev){
                                                          $("#tradeModal .stockAmount").val($('.slider-amount').slider("getValue").val());
                                                          $("#tradeModal .stockAmount").trigger('change');
                                                      });;
    });


.popup-txt.mbn-popup
  .popup-d-txt
    .b-txt
      = @stock.company.name
      %strong
        = "(#{@stock.symbol})"
    .popup-d-logo
      = image_tag @stock.company.logo_url, :width => 100
    .popup-price-txt
      = humanized_money_with_symbol(@stock.latest_price)
    .popup-price-g
      %span.price-c
        %span.down-arrow-green>
        0.68
      %span.price-c
        %span.down-arrow-green>
        2.27%
.selectTradeType
  .popup-action-area
    %a.market-price{:href => "javascript:void(0);"} Market
    %span
      Buy a stock at its
      = succeed "current" do
        %br/
      market price
  .popup-action-area
    %a.custom-price{:href => "javascript:void(0);"} Limit
    %span
      Buy a stock for the maximum
      = succeed "price" do
        %br/
      you are willing to pay


= form_for :trade, :url => league_buy_stock_path(@league, @stock) do |f|
  = hidden_field_tag :trade_type, "latest"
  .confirmTrade.hide
    .price-row-c.priceRow
      %span.l-txt-p Price
      = f.text_field :price, :value => humanized_money(@stock.latest_price), :class=> "stockPrice"
      .select-range
        %span.txt-range $0
        %span.range-bar
          = hidden_field_tag :hidden_price, humanized_money(@stock.latest_price),  :class=> "stockPrice slider-price" ,
                    "data-slider-max" => "#{humanized_money(@stock.latest_price)}", "data-slider-selection" => "before", "data-slider-step" => "0.01",
                       "data-slider-value" => "#{humanized_money(@stock.latest_price)}"
        %span.txt-range
          = humanized_money_with_symbol(@stock.latest_price)

    .price-row-c.sharesRow
      %span.l-txt-p Shares
      = f.text_field :amount, :value => 10,:class=> :stockAmount
      .select-range
      %span.txt-range 0
      %span.range-bar
        = hidden_field_tag :hidden_amount, humanized_money(@stock.latest_price),  :class=> "stockAmount slider-amount" ,
                   "data-slider-max" => "1000", "data-slider-selection" => "before", "data-slider-step" => "1",
                     "data-slider-value" => "10"
      %span.txt-range 1000


    .price-row-c.c-form-f
      %span.l-txt-p Total
      %input.totalPrice{:type => "text", :readonly => "readonly", :value => humanized_money(@stock.latest_price * 10)}/
      %a.cf-btn.submitButton{:href => "javascript:void(0);"}
        %span Place buy trade


